/*
01)	HEADER
02) MOBILE
03) MAINPART
04) HOME
05) ABOUT
06) RESUME
07) CONTACT
08) FOOTER
09) CURSOR
10) PARTICLE EFFECT
11) MEDIA QUERIES
*/

@charset "utf-8";

html {
	overflow-x: hidden;
	padding: 0px;
	margin: 0px;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
body {
	overflow-x: hidden;
	width: 100%;
	font-family: "Open Sans";
	font-size: 16px;
	line-height: 1.7;
	letter-spacing: 0px;
	word-wrap: break-word;
	font-weight: 400;
	background-color: #f6fbff;
	color: #7d7789;
}
.mobile_author_image {
	height: calc(60vh);
	width: 70%;
	margin: 180px auto 0 auto;
	display: none;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 20% 30%;
}
svg {
	fill: currentcolor;
	width: 15px;
	height: 15px;
}
img.svg {
	width: 15px;
	height: 15px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #aaa6b2;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #aaa6b2;
	opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #aaa6b2;
	opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #aaa6b2;
}
::-ms-input-placeholder { /* Microsoft Edge */
	color: #aaa6b2;
}
::placeholder { /* Most modern browsers support this now. */
	color: #aaa6b2;
}
body.dark::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color: #9e9ba3;
}
body.dark:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #9e9ba3;
	opacity:  1;
}
body.dark::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #9e9ba3;
	opacity:  1;
}
body.dark:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #9e9ba3;
}
body.dark::-ms-input-placeholder { /* Microsoft Edge */
	color: #9e9ba3;
}
body.dark::placeholder { /* Most modern browsers support this now. */
	color: #9e9ba3;
}
body::-webkit-scrollbar {
	width: 11px;
}
body{
	scrollbar-width: thin;
	scrollbar-color: #999 #fff;
}
body:-webkit-scrollbar-track {
	background: #fff;
}
body::-webkit-scrollbar-thumb {
	background-color: #999;
	border-radius: 6px;
	border: 3px solid #fff;
}
body.dark::-webkit-scrollbar {
	width: 11px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:700;
	line-height: 1.2;
	font-family: "Poppins";
	color: #333;
}
h1 {font-size: 45px;}
h2 {font-size: 36px;}
h3 {font-size: 30px;}
h4 {font-size: 24px;}
h5 {font-size: 20px;}
h6 {font-size: 16px;}
.cavani_tm_all_wrap{
	width: 100%;
	min-height: 100vh;
	clear: both;
	float: left;
	position: relative;
}
.cavani_tm_all_wrap, .cavani_tm_all_wrap * {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 99999;
    display: flex;
}
#preloader:before, #preloader:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    background-color: #000;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
#preloader:after {
    left: auto;
    right: 0;
}
#preloader .loader_line {
    margin: auto;
    width: 1px;
    height: 250px;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
}
.loader_line:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 0%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #fff;
    -webkit-animation: lineheight 1000ms ease-in-out 0s forwards;
    -o-animation: lineheight 1000ms ease-in-out 0s forwards;
    animation: lineheight 1000ms ease-in-out 0s forwards;
}
.loader_line:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #777;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-animation: lineround 1200ms linear 0s infinite;
    -o-animation: lineround 1200ms linear 0s infinite;
    animation: lineround 1200ms linear 0s infinite;
    animation-delay: 2000ms;
}
@keyframes lineheight {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}
@keyframes lineround {
    0% {
    	-webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(200%);
        -ms-transform: translateY(200%);
        -o-transform: translateY(200%);
        transform: translateY(200%);
    }
}
.preloaded .loader_line:after {
    opacity: 0;
}
.preloaded .loader_line {
    opacity: 0;
    height: 100%!important;
}
.preloaded:before, .preloaded:after {
    -webkit-animation: preloadedzero 300ms ease-in-out 500ms forwards;
    -o-animation: preloadedzero 300ms ease-in-out 500ms forwards;
    animation: preloadedzero 300ms ease-in-out 500ms forwards;
}
@keyframes preloadedzero {
    0% {
        width: 50%;
    }
    100% {
        width: 0%;
    }
}

/*---------------------------------------------------*/
/*	01) HEADER
/*---------------------------------------------------*/

.cavani_tm_header {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 70px;
	line-height: 70px;
	background-color: #fff;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 70px;
}
.cavani_tm_header .logo img {
	max-width: 110px;
	max-height: 65px;
}
.cavani_tm_header .menu {
	position: relative;
}
.cavani_tm_header .menu ul {
	margin: 0px;
	list-style-type: none;
}
.cavani_tm_header .menu ul li {
	margin: 0px;
	float: left;
}
.cavani_tm_header .menu ul li a {
	text-decoration: none;
	color: #333;
	font-family: "Poppins";
	font-weight: 500;
	padding: 0px 30px;
	display: inline-block;
	
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.cavani_tm_header .menu .ccc {
	position: absolute;
	bottom: 0;
	width: 30px;
	display: block;
	top: 15px;
	bottom: 15px;
	background-color: #333;
	z-index: -1;
	
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.cavani_tm_header .menu ul li.mleave.active a {
	color: #333;
}
.cavani_tm_header .menu ul li.active a {
	color: #fff;
}
.cavani_tm_header .menu ul li a:hover {
	color: #fff;
}

/*---------------------------------------------------*/
/*	02) MOBILE
/*---------------------------------------------------*/

.cavani_tm_topbar {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
	background-color: #fff;
	z-index: 20;
	display: none;
}
.cavani_tm_topbar .topbar_inner {
	width: 100%;
	height: 100%;
	clear: both;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 20px;
}
.cavani_tm_topbar .logo img {
	max-width: 100px;
	max-height: 40px;
}
.cavani_tm_topbar .hamburger {
	padding: 0px;
}
.cavani_tm_topbar .hamburger-inner, .cavani_tm_topbar .hamburger-inner:after, .cavani_tm_topbar .hamburger-inner:before {
	width: 30px;
	height: 2px;
}
.cavani_tm_topbar .trigger {
	position: relative;
	top: 5px;
}
.cavani_tm_topbar .hamburger-box {
	width: 30px;
}
.cavani_tm_mobile_menu {
	position: fixed;
	top: 50px;
	right: -200px;
	height: 100vh;
	width: 200px;
	z-index: 15;
	background-color: #fff;
	
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.cavani_tm_mobile_menu.opened {
	right: 0px;
}
.cavani_tm_mobile_menu .inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: right;
	padding: 70px 20px 20px 20px;
}
.cavani_tm_mobile_menu .avatar {
	width: 70px;
	height: 70px;
	position: relative;
	float: right;
	margin-bottom: 60px;
}
.cavani_tm_mobile_menu .avatar .image {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.cavani_tm_mobile_menu .menu_list {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	margin-bottom: 50px;
}
.cavani_tm_mobile_menu .menu_list ul {
	margin: 0px;
	list-style-type: none;
}
.cavani_tm_mobile_menu .menu_list ul li {
	margin: 0px 0px 7px 0px;
}
.cavani_tm_mobile_menu .menu_list ul li a {
	text-decoration: none;
	color: #333;
	font-family: "Poppins";
}
.cavani_tm_mobile_menu .social {
	width: 100%;
	float: left;
	margin-bottom: 5px;
}
.cavani_tm_mobile_menu .social ul {
	margin: 0px;
	list-style-type: none;
}
.cavani_tm_mobile_menu .social ul li {
	margin: 0px 8px 0px 0px;
	display: inline-block;
}
.cavani_tm_mobile_menu .social ul li:last-child {
	margin-right: 0px;
}
.cavani_tm_mobile_menu .social ul li a {
	text-decoration: none;
	color: #333;
}
.cavani_tm_mobile_menu .copyright {
	width: 100%;
	float: left;
}
.cavani_tm_mobile_menu .copyright p {
	color: #333;
	font-family: "Poppins";
}

/*---------------------------------------------------*/
/*	03) MAINPART
/*---------------------------------------------------*/

.cavani_tm_mainpart {
	position: absolute;
	top: 70px;
	bottom: 70px;
	left: 70px;
	right: 70px;
	overflow: hidden;
}
.cavani_tm_mainpart .author_image {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 40%;
	z-index: 15;
}
.cavani_tm_mainpart .author_image .main {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.cavani_tm_mainpart .main_content {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 60%;
}
.cavani_tm_section {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
.cavani_tm_section {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
	overflow-y: scroll;
	
	opacity: 0;
	visibility: hidden;
	z-index: 8;
	transition: visibility 1s linear, opacity .5s linear;
	-moz-transition: visibility 1s linear, opacity .5s linear;
	-webkit-transition: visibility1s linear, opacity .5s linear;
	-o-transition: visibility 1s linear, opacity .5s linear;
}
.cavani_tm_section.animated {
	opacity: 1;
	visibility: visible;
	z-index: 9;
}
.cavani_tm_section.active {
	opacity: 1;
	visibility: visible;
	z-index: 10;
}
.cavani_tm_section.hidden {
	opacity: 0;
	visibility: hidden;
	z-index: 9;
}
.cavani_tm_section::-webkit-scrollbar {
  width: 0px;
}
.cavani_tm_section .section_inner {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	padding: 42px 100px 0px 100px;
}
.cavani_tm_section .section_inner:before {
	position: absolute;
	content: "";
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 100px;
	background-color: #f6fbff;
}

/*---------------------------------------------------*/
/*	04) HOME
/*---------------------------------------------------*/

.cavani_tm_home {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}
.cavani_tm_home .content {
	padding-left: 100px;
}
.cavani_tm_home .name {
	font-size: 72px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.cavani_tm_home .line {
	display: inline-block;
	width: 70px;
	height: 5px;
	background-color: #333;
	margin-bottom: 30px;
}
.cavani_tm_home .job {
	font-size: 25px;
	margin-bottom: 35px;
	font-weight: 300;
}
.cavani_tm_home .job span {
	color: #7d7789;
}
.cavani_tm_home .job b {
	font-weight:600;
	color: #333;
}
.cavani_tm_button {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
}
.cavani_tm_button a {
	text-decoration: none;
	color: #fff;
	display: inline-block;
	background-color: #333;
	padding: 13px 38px;
	border: 2px solid #333;
	font-family: "Poppins";
	font-weight: 500;
	
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.cavani_tm_button a:hover {
	background-color: transparent;
	color: #333;
}
.cd-headline.clip .cd-words-wrapper::after {
	height: 70%;
	top: 50%;
	width: 2px;
	transform: translateY(-50%);
	background-color: #999;
}
.cd-headline.loading-bar .cd-words-wrapper::after {
	background: #333;
	height: 2px;
}

/*---------------------------------------------------*/
/*	05) ABOUT
/*---------------------------------------------------*/

.cavani_tm_about {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
}
.cavani_tm_about .biography {
	margin-bottom: 87px;
}
.cavani_tm_title {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	overflow: hidden;
}
.cavani_tm_title span {
	display: inline-block;
	position: relative;
	font-family: "Poppins";
	color: #333;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 8px;
}
.cavani_tm_title span:after {
	position: absolute;
	content: "";
	width: 5000px;
	height: 1px;
	background-color: #7d7789;
	left: 100%;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 30px;
}
.cavani_tm_about .biography .wrapper p {
	margin-bottom: 10px;
}

/*---------------------------------------------------*/
/*	06) RESUME
/*---------------------------------------------------*/

.cavani_tm_portfolio {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	margin-bottom: 40px;
}
.cavani_tm_portfolio * .wrapper .heading {
	margin-top: 10px;
}
.cavani_tm_portfolio * .wrapper p:last-child {
	margin-bottom: 20px;
}
.cavani_tm_portfolio * .wrapper span {
	text-decoration: underline dotted;
	text-decoration-thickness: 1px;
}
#resume_download {
	margin-top: 50px;
}

/*---------------------------------------------------*/
/*	07) CONTACT
/*---------------------------------------------------*/

.cavani_tm_contact {
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	margin-bottom: 30px;
}
.cavani_tm_contact .contact_info {
	margin-top: 45px;
}

.cavani_tm_contact .contact_info * a {
	color: #333;
	text-decoration: underline dotted;
	text-decoration-thickness: 1px;
}

.cavani_tm_contact .contact_info .indent {
	margin-left: 20px;
}

.cavani_tm_contact .signature {
	height: 300px;
	width: 150px;
	background-repeat: no-repeat;
	background-size: contain;
}

/*---------------------------------------------------*/
/*	08) FOOTER
/*---------------------------------------------------*/

.cavani_tm_footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 70px;
	background-color: #fff;
	z-index: 10;
	line-height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 70px;
}
.cavani_tm_footer .copyright p {
	color: #333;
	font-family: "Poppins";
}
.cavani_tm_footer .social ul {
	margin: 0px;
	list-style-type: none;
}
.cavani_tm_footer .social ul li {
	margin: 0px 15px 0px 0px;
	display: inline-block;
}
.cavani_tm_footer .social ul li:last-child {
	margin-right: 0px;
}
.cavani_tm_footer .social ul li a {
	text-decoration: none;
	color: #333;
}
.cavani_tm_left_border {
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 70px;
	background-color: #fff;
	z-index: 10;
}
.cavani_tm_right_border {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 70px;
	background-color: #fff;
	z-index: 10;
}

/*---------------------------------------------------*/
/*	09) CURSOR
/*---------------------------------------------------*/

.mouse-cursor {
  position: fixed;
  pointer-events: none;
  border-radius: 50%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  visibility: hidden;
}
.cursor-inner {
  margin-left: -3px;
  margin-top: -3px;
  width: 6px;
  height: 6px;
  z-index: 100;
  background-color: #333;
  -webkit-transition: width .3s ease-in-out, height .3s ease-in-out, margin .3s ease-in-out, opacity .3s ease-in-out;
  transition: width .3s ease-in-out, height .3s ease-in-out, margin .3s ease-in-out, opacity .3s ease-in-out;
}
.cursor-inner.cursor-hover {
  margin-left: -40px;
  margin-top: -40px;
  width: 80px;
  height: 80px;
  background-color: #333;
  opacity: .3;
}
.cursor-outer {
  margin-left: -15px;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  border: 2px solid #333;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 100;
  opacity: .5;
  -webkit-transition: all .08s ease-out;
  transition: all .08s ease-out;
}
.cursor-outer.cursor-hover {
  opacity: 0;
}
.cavani_tm_all_wrap[data-magic-cursor="hide"] .mouse-cursor {
	display: none;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	z-index: -1111;
}

/*---------------------------------------------------*/
/*	10) PARTICLE EFFECT
/*---------------------------------------------------*/

.cavani_tm_mainpart .author_image .particle_wrapper {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
}
#particles-js {
	width: 100%;
	height: 100%;
  	position: relative;
  	z-index: 2;
}

/*---------------------------------------------------*/
/*	11) MEDIA QUERIES
/*---------------------------------------------------*/

@media (max-width: 1500px) {
	.cavani_tm_mainpart .author_image {width: 35%;}
	.cavani_tm_mainpart .main_content {width: 65%;}
	.cavani_tm_section .section_inner {padding: 25px 20px 0px 60px;}
}
@media (max-width: 1100px) {
	.mouse-cursor {display: none;}
	#preloader {display: none;}
	.cavani_tm_topbar {display: block;}
	.cavani_tm_header {display: none;}
	.cavani_tm_footer {display: none;}
	.cavani_tm_left_border {display: none;}
	.cavani_tm_right_border {display: none;}
	.cavani_tm_section .section_inner:before {width: 20px;}
	.cavani_tm_mainpart .author_image {width: 35%;}
	.cavani_tm_mainpart .main_content {width: 65%;}
	.cavani_tm_mainpart {top: 50px;left: 0px;right: 0px;bottom: 0px;}
	.cavani_tm_home .content {padding: 0px 20px 40px;}
	.cavani_tm_home .name {font-size: 60px;}
	.cavani_tm_home .job {font-size: 22px;}
	.cavani_tm_section .section_inner {padding: 25px 20px 0px 20px;}
}

@media (max-width: 800px) {
	.particle_wrapper {display: none;}
	.cavani_tm_mainpart .author_image {display: none;}
	.cavani_tm_home .mobile_author_image {display: block;}
	.cavani_tm_mainpart .main_content {width: 100%;}
	.cavani_tm_home .content {width: 100%;}
	.cavani_tm_home .name {margin-top: 50px;}
}

@media (max-width: 480px) {
	.mobile_author_image {margin: 160px auto 0 auto;}
	.cavani_tm_home .name {font-size: 40px;}
	.cavani_tm_home .job {font-size: 16px;}
	.cavani_tm_button a{padding: 10px 28px;}
}